@page "/signup"
@using ScavengeRUs.Data;

<head>
    <title>Sign Up With Us!</title>
</head>
<body>
    <EditForm Model="@Account" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <fieldset>
            <legend>Create Account</legend>
            
            <div>
                <label for="FirstName">First Name</label>
                <input type="text" id="FirstName" @bind-value="Account.FirstName" />
                <ValidationMessage For="@(() => Account.FirstName)"/>
            </div>
            <div>
                <label for ="LastName">Last Name</label>
                <input type="text" id="LastName" @bind-value="Account.LastName" />
            </div>
            <div>
                <label for ="TeamName">Team Name</label>
                <input type="text" id="TeamName" @bind-value="Account.TeamName" />
            </div>
            <div>
                <label for="EmailAddress">Email</label>
                <input type="text" id="EmailAddress" @bind-value="Account.Email"  />
            </div>
            <div>
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" id="PhoneNumber" @bind-value="Account.PhoneNumber"  />
            </div>
            <div>
                <label for="Username">Username</label>
                <input type="text" id="Username" @bind-value="Account.UserName" />
            </div>
            <div>
                <label for="Password">Password</label>
                <input type="text" id="Password" @bind-value="Account.Password" />
            </div>
            <div>
                <label for="CheckAvailibility">Check Availibility</label>
                <button type="Submit" id="ValidateAndSubmit">Submit</button>
            </div>
        </fieldset>
    </EditForm>
</body>


@code{
    private AccountModel Account = new AccountModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("Valid Submit");
    }

    


}
