@page "/accessCode/{urlID}"
@inherits AccessCodeBase
@using ScavengeRUs.Data
@inject NavigationManager NavigationManager

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <center> 
        <div>
            <div class="col-12">
                <h3 style = "color:#3998E8; font-weight: bold">Email/SMS Testing</h3>
            </div>
            <br /> <br /> <br /> 
        </div>
        <div class="inputField">
                <input class="form-control inputs" @bind="@accessCode" placeholder="Access Code" />
        </div>
        <div class="border logInWrapper"> 
                <div>
                    <input type="submit" class="btn btn-primary" @onclick="enterGame" value="Submit" />
                </div>
        </div>
    </center>


@code {
    
}
