@page "/loginScreen"
@page "/loginScreen/{secretKey}"
@using ScavengeRUs.Data
@inject NavigationManager NavigationManager
@inherits MapPageBase

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

@if(secretKey != null)
{
    NavigationManager.NavigateTo("/profile/" + secretKey);
}

<EditForm Model="@user">
    <center> 
        <div>
            <br /> <br /> <br /> 
        </div>
        <div class="border logInForm"> 
            <br />
            <div class="col-12">
                <h3 style = "color:rgba(79,172,254,1); font-weight: bold">ScavengeRUs Login</h3>
            </div>
            <div>
                <br />
                <h5 class="red">@feedback</h5>
                <br />
            </div>
            <div class="inputContainer">
                <input type="text" class="input" id="Email" placeholder="Email Address" style=@inputStyle 
                    oninvalid="this.setCustomValidity('Email is required')" onvalid="this.setCustomValidity('')"@bind="@user.Email" @onclick="ClearFormat"/>
                <label for="Email" class="label">Email:</label>
            </div>
            <br />
            <div class="inputContainer">
                <input type="password" class="input" id="Password" placeholder="Password" style=@inputStyle 
                    oninvalid="this.setCustomValidity('Password is required')" onvalid="this.setCustomValidity('')" @bind="@user.Password" @onclick="ClearFormat"/>
                <label for="Password" class="label">Password:</label>
            </div>
            <br />
            <div>
                <input type="submit" class="btn btn-primary" value="Login" @onclick="ValidateUser"/>
            </div>
            <div>
                <br />
                <p>OR</p>
                <br />
                <div>
                    <button name="signupButton" class="btn btn-primary" @onclick="SignUp">SignUp</button>
                    <br /> <br />
                </div>
            </div>
        </div>
    </center>

</EditForm>


@code {
    

}



<style>
#profileButton{
    color: rgba(79,172,254,1);
}

.logInForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 600px;
}

.label{
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 5px;
        background-color: #002639;
        color: #DADCE0;
        font-size: 16px;
        transition: 0.5s;
        z-index: 0;
}

.border{
    border: 2px solid;
    border-radius: 12px;
    padding: 5px
}

.red{
    color: red;
    font-size: small;
    font-style: italic;
}

    @@media (max-width:600px) {
        .border
        {
            border:0px solid !important
        }
    }

</style>
