@page "/"
@using Syncfusion.Blazor.Maps
@inject IJSRuntime JSRuntime

<div id="map" name="map" style="height:600px;width:100%;"@bind=map>

</div>
<div>
  <!--  <button name="signupButton" class="btn btn-primary" @onclick="updateLocation">SignUp</button> -->
</div>
@code{
    string map;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initMap", null);
           
            StateHasChanged();
        }

    }

    

}