@page "/QRCodeScanner"
@page "/QRCodeScanner/{secretKey}"
@inherits MapPageBase
@using ScavengeRUs.Data
@using BlazorBarcodeScanner.ZXing.JS



@if (ShowScanBarcode)
{
    <div class="QRCodeScanner">
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader @ref="_reader"
            Title=""
            StartCameraAutomatically="true"
            ShowStart="false"
            ShowReset="false"
            ShowToggleTorch="false"
            ShowVideoDeviceList="false"
            VideoWidth="500"
            VideoHeight="500"
            OnBarcodeReceived="QRCodeString"
            ShowResult="false"
         />
    </div>
}
<br />
<div style="margin-left: 35%; width: 30%; align-content: center">
    <button @onclick="barCodeToggle" style="@(barCodeBox ? "display: none" : "display: block"); width: 200px;">Input QR Code</button>
    <input type="text" class="form-control" style="@(barCodeBox ? "display: block" : "display: none"); min-width: 100px; max-width: 500px; margin: auto; margin-top: 30px"
                @bind-value="BarCode"
                placeholder="Type QR Code Here..." />
    <button class="btn btn-primary"
            type="button"
            style="@(barCodeBox ? "display: block" : "display: none"); max-width: 200px; margin-top: 50px"
            @onclick="RunBarCodeTyped">Input
        </button>
</div>

@code {
    
}

<style>
    .QRCodeScanner {
        text-align: center; 
        width: 100%;
    }




</style>