@page "/security"

<div class="container-xl">
        <!-- Account page navigation-->
        <div class="row">
            <!-- Profile picture card-->
            <div class="firstCard">
                    <img class="img-account-profile rounded-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <span class="accountName">First Last</span>
                    <span class="displayname">Display Name</span>
                    <!-- Profile picture upload button-->
                    <!-- <button class="btn btn-primary" type="button">Select new image</button> -->
           </div>
        </div>
        <div class="statsCard">
                <div class="card-body text-center">
                    <div class="stat" style="border-right: .5px solid white;">
                        <i class="fa-solid fa-trophy fa-2xl" style="font-size: 36px; color:white"></i>
                        <div class="statText">
                            <span style="font-weight:bold; font-size: 18px; color:white;">7</span>
                            <span style="font-weight:lighter; font-size: 12px; color:white;">Career Wins</span>
                        </div>
                    </div>
                    <div class="stat" style="border-left: .5px solid white;">
                        <i class="fa-solid fa-award fa-2xl" style="font-size: 36px; color:white"></i>
                        <div class="statText">
                            <span style="font-weight:bold; font-size: 18px; color:white;">28</span>
                            <span style="font-weight:lighter; font-size: 12px; color:white;">Prizes Won</span>
                        </div>
                    </div>
                </div>
        </div>
        <nav class="nav nav-borders" style="margin: 0 auto; text-align: center;">
            <a class="nav-link ms-0" href="/profile" >Profile</a>
            <a class="nav-link active ms-0" href="/security" >Security</a>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (current password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Current Password</label>
                                <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
                            </div>
                            <!-- Form Group (new password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">New Password</label>
                                <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
                            </div>
                            <button class="btn btn-primary" type="button">Save</button>
                        </form>
                    </div>
                </div>
                <!-- Security preferences card-->
                <div class="card mb-4">
                    <div class="card-header">Security Preferences</div>
                    <div class="card-body">
                        <!-- Account privacy optinos-->
                        <h5 class="mb-1">Account Privacy</h5>
                        <p class="small text-muted">By setting your account to private, your profile information and posts will not be visible to users outside of your user groups.</p>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" id="radioPrivacy1" type="radio" name="radioPrivacy" checked="">
                                <label class="form-check-label" for="radioPrivacy1">Public (posts are available to all users)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="radioPrivacy2" type="radio" name="radioPrivacy">
                                <label class="form-check-label" for="radioPrivacy2">Private (posts are available to only users in your groups)</label>
                            </div>
                        </form>
                        <hr class="my-4">
                        <!-- Data sharing options-->
                        <h5 class="mb-1">Data Sharing</h5>
                        <p class="small text-muted">Sharing usage data can help us to improve our products and better serve our users as they navigation through our application. When you agree to share usage data with us, crash reports and usage analytics will be automatically sent to our development team for investigation.</p>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" id="radioUsage1" type="radio" name="radioUsage" checked="">
                                <label class="form-check-label" for="radioUsage1">Yes, share data and crash reports with app developers</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="radioUsage2" type="radio" name="radioUsage">
                                <label class="form-check-label" for="radioUsage2">No, limit my data sharing with app developers</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Two factor authentication card-->
                <div class="card mb-4">
                    <div class="card-header">Two-Factor Authentication</div>
                    <div class="card-body">
                        <p>Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.</p>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" id="twoFactorOn" type="radio" name="twoFactor" checked="">
                                <label class="form-check-label" for="twoFactorOn">On</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="twoFactorOff" type="radio" name="twoFactor">
                                <label class="form-check-label" for="twoFactorOff">Off</label>
                            </div>
                            <div class="mt-3">
                                <label class="small mb-1" for="twoFactorSMS">SMS Number</label>
                                <input class="form-control" id="twoFactorSMS" type="tel" placeholder="Enter a phone number" value="555-123-4567">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Delete account card-->
                <div class="card mb-4">
                    <div class="card-header">Delete Account</div>
                    <div class="card-body">
                        <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                        <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
                    </div>
                </div>
            </div>
        </div>
</div>
@code {

}

<style>
    body{
        display: flex;
}

.accountName{
    font-size: 24px; 
    font-weight: bold; 
    color: white; 
    margin: 0 auto;
}
.img-account-profile {
    margin:0 auto;
    height: 6rem;
    margin-top:20px;
}

.rounded-circle {
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 50% !important;
    justify-content:center;
    align-content:center;
}

.firstCard{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    background-color: rgb(27, 45, 59);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 1;
    width: 100%;
    height: 225px;
}

.displayname{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 10px;
}


.nav{
    align-items: center;
    display:flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}



.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.vertical-line{
      width: .5px; /* Line width */
      background-color: white; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      display: table-cell;
}

.statsCard{
    top:-50px;
    margin:0 auto;
    position:relative;
    display:flex;
    flex-direction: row;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    background-color:  rgba(79,172,254,1);
    border-radius: 20px;
    z-index: 2;
    width: 90%;
    height: 100px;
}

.stat{
    display:table-cell;
    padding: 15px;
}

.statText{
    padding-top: 10px;
}
.card-body{
    display:table;
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: flex;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: rgba(79,172,254,1);
    border-bottom-color: rgba(79,172,254,1);
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.border{
    border: 2px solid;
    border-radius: 12px;
    padding: 5px
}

.input:user-invalid{
    border: 1px solid red;
}

.validation-message{
    color: rgba(79,172,254,1);
    padding: 10px;
}
    .signUpForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .label{
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 5px;
        background-color: #002639;
        color: #DADCE0;
        font-size: 16px;
        transition: 0.5s;
        z-index: 0;
    }

    .red {
        color: red;
        font-size: small;
        font-style: italic;
    }

    .form-control {
        width: 120%;
    }

    .signUpWrapper {
        max-width: 90%;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        border-radius: 8px;
    }

        @@media (max-width:600px) {
        .border
        {
            border:0px solid !important
        }
    }
</style>