@page "/"
@inject NavigationManager UriHelper

<button class="btn btn-primary" @onclick=@Navigate>Testing Web Upload</button>

@code {
    protected override void OnInitialized()
    {
        UriHelper.NavigateTo("/loginScreen");
    }
}